.navbar-logo-img { 
    height: 3rem
}

.header-overlay{
    opacity: 0.4; 
    background-color: rgb(255, 255, 255);
}

.introduction-overlay{
    opacity: 0.9; 
    background-color: rgb(255, 255, 255);
}

#team2-7{
    background-image: linear-gradient(to bottom right, #477191, #DEDEDE);
}

#team2-7 .titre-section{
    text-align: center;
    padding:1em; 
    font-size:38px;
    color:white; 
    font-weight:bold;
}

.right-shifted{
    margin-left: 1em;
}
.contact-card{
    /*background-image: linear-gradient(to bottom right, #EEEEEE, #FBFBFB);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.span-footer{
    font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
    .lottie-parent{
        padding-left:30px !important;
    }
}